/* Write your CSS here */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.about-img {
  width: 200px;
}

.heading-dark {
  color: #ffffff;
}

.heading-light {
  color: #000000;
}
